@use "../../styles/fonts" as *;
@use "../../styles/colors" as colors;

.login,
.signup {
  position: absolute;
  width: 90%;
  max-width: 25rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h3 {
    font-size: 1.35rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  button {
    display: block;
    margin: 0 auto;
  }
}

.form-field {
  margin-bottom: 1.5rem;
}

.signup-link,
.login-link {
  margin-top: 1.5rem;
  text-align: center;
  font-size: $fs-standard * 1.2;
  color: colors.$primary;
}
