.add-account-page {
  width: 95%;
  max-width: 28rem;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.back-btn,
.form-field {
  margin-bottom: 1.5rem;
}

.account-type {
  width: 45%;
  max-width: 10rem;

  select {
    text-transform: capitalize;
  }
}

.account-type-balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
