@use "../../../styles/colors" as colors;
@use "../../../styles/fonts" as *;
@use "../../../styles/common" as common;

.main-navigation {
  @include common.flex-row-space-between-center-aligned-items;

  height: common.$header-height;
  position: fixed;
  width: 100%;
  padding-right: 1.5rem;
  background-color: colors.$primary-dark;
  color: colors.$white;
  z-index: 1000;

  @media screen and (min-width: 541px) {
    height: common.$header-height + 1rem;
    padding-right: 2rem;
  }

  .menu-logo {
    padding-left: 1rem;
    @include common.flex-row-space-between-center-aligned-items;

    @media screen and (min-width: 541px) {
      padding-left: 2rem;
    }

    .bars-icon {
      height: 2.25rem;
      width: 2.25rem;
      padding: 0.5rem;
      display: block;
      margin-right: 1rem;
      cursor: pointer;

      @media screen and (min-width: 769px) {
        display: none;
      }
    }

    .logo {
      margin: 0;
      font-family: $ff-secondary;
    }
  }
}
