@use "../../../styles/colors" as colors;
@use "../../../styles/fonts" as *;
@use "../../../styles/common" as common;

.main-navigation {
  height: common.$header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 0 1rem;
  background-color: colors.$primary-dark;
  color: colors.$white;

  @media screen and (min-width: 540px) {
    height: common.$header-height + 1rem;
    padding: 0 2rem;
  }

  .logo-text {
    margin: 0;
    font-family: $ff-secondary;
  }
}
