/* 
===============
Colors
===============
*/

/* THEME COLORS */
$primary: #977097;
$primary-light: #cbc0d3;
$primary-dark: #694c7c;

$secondary: #d3996a;

/* UNIVERSAL COLORS */
$black: #222;
$red: #d62828;
$white: #fff;

/* SHADES OF GRAY */
$gray: #bbb;
$gray-light: #eee;
$gray-dark: #555;
