/* 
===============
Colors
===============
*/

/* BASE COLORS */
$primary-dark: #18774f;
$primary-light: #84a98c;
$secondary-dark: #004e98;
$secondary-light: #3a6ea5;

/* UNIVERSAL COLORS */
$white: #fff;
$black: #222;
$red: #d62828;

/* SHADES OF GRAY */
$gray-dark: #555;
$gray-light: #aaa;
