/* COMMON VARIABLES */
$header-height: 3rem;

/* CSS PROPERTY VARIABLES */
$box-shadow-light: 0 1px 3px rgba(0, 0, 0, 0.3);
$box-shadow-dark: 0 3px 5px rgba(0, 0, 0, 0.3);
$transition-linear: all 0.3s linear;

/* MIXINS */
@mixin flex-row-space-between-center-aligned-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
