/* 
===============
Fonts
===============
*/

/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* FONT FAMILY */
$ff-primary: "Roboto", sans-serif;
$ff-secondary: "Open Sans", sans-serif;

/* FONT SIZE */
$fs-standard: 0.875rem;
