/* 
===============
Fonts
===============
*/

/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito:wght@400;600&display=swap");

/* FONT FAMILY */
$ff-primary: "Nunito", sans-serif;
$ff-secondary: "Indie Flower", cursive;

/* FONT SIZE */
$fs-standard: 0.875rem;
