@use "../../../styles/colors" as colors;
@use "../../../styles/common" as common;

.sidebar {
  position: fixed;
  margin-top: common.$header-height;
  background-color: colors.$gray-light;
  height: 100%;
  width: 33%;
  max-width: 15rem;
  transform: translateX(-100%);
  transition: common.$transition-linear;
  z-index: 1000;

  @media screen and (min-width: 541px) {
    margin-top: common.$header-height + 1rem;
  }

  @media screen and (min-width: 1025px) {
    font-size: 1rem;
  }

  @media screen and (min-width: 1201px) {
    max-width: 20rem;
  }

  &.show {
    transform: translateX(0);
  }

  ul {
    list-style-type: none;
  }
}

.sidebar-menu {
  padding: 0.75rem 0.5rem;
  border-bottom: 1px solid colors.$gray;
  cursor: pointer;
  transition: common.$transition-linear;
  color: colors.$gray-dark;
  text-decoration: none;
  font-size: 1.25rem;

  &:hover,
  &:active {
    background-color: colors.$primary-light;
    color: colors.$black;
  }

  &.active {
    @extend .sidebar-menu;
    background-color: colors.$primary;
    cursor: default;
    color: colors.$white;
  }

  h4 {
    margin-bottom: 0;
  }
}
