@use "../../../styles/colors" as colors;
@use "../../../styles/fonts" as *;
@use "../../../styles/common" as common;

.button {
  background-color: colors.$white;
  color: colors.$gray-dark;
  padding: 0.375rem 0.75rem;
  border: 2px solid transparent;
  border-radius: 0.35rem;
  letter-spacing: 0.5px;
  display: inline-block;
  text-transform: uppercase;
  font-size: $fs-standard;
  font-weight: 700;
  box-shadow: common.$box-shadow-light;
  cursor: pointer;
  transition: common.$transition-linear;

  &:active {
    transform: translateY(3px);
  }

  &.primary {
    background-color: colors.$primary-dark;
    box-shadow: 0px 2px 3px rgb(0, 0, 0, 0.4);
    color: colors.$white;
  }

  @media screen and (min-width: 769px) {
    font-size: $fs-standard * 1.1;
  }

  @media screen and (min-width: 1025px) {
    font-size: $fs-standard * 1.2;
  }
}
