@use "../../../styles/colors" as colors;
@use "../../../styles/fonts" as *;

.textbox {
  font-size: $fs-standard * 1.1;

  @media screen and (min-width: 769px) {
    font-size: $fs-standard * 1.3;
  }

  @media screen and (min-width: 1025px) {
    font-size: $fs-standard * 1.5;
  }

  label {
    display: block;
    color: colors.$gray-dark;
    margin-bottom: 0.25rem;
  }

  input {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid colors.$gray;
    outline: none;
    font-size: inherit;
    font-family: inherit;

    &:active,
    &:focus {
      border-color: colors.$primary-dark;
    }
  }
}
