@use "../../styles/colors" as colors;

.transactions-list {
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    margin: 0;
  }

  ul {
    list-style-type: none;
  }
}

.add-transaction-btn {
  margin-bottom: 1rem;
}

.transactions-list-heading,
.transaction-list-item {
  display: grid;

  padding: 0.75rem 0;
  border-bottom: 1px solid colors.$gray-light;

  h3,
  h4 {
    margin-bottom: 0;
  }

  @media screen and (min-width: 769px) {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1.5rem;
  }
}

.transactions-list-heading {
  display: none;

  @media screen and (min-width: 769px) {
    display: grid;
    color: colors.$primary;
  }
}

.transaction-list-item {
  align-items: center;

  h4 {
    font-weight: lighter;
    display: inline-block;
    word-break: break-word;
    color: colors.$gray-dark;
  }
}

.transaction-date-time div:first-child {
  margin-bottom: 0.25rem;
}

.transaction-heading-small-screen {
  color: colors.$primary;
  margin-right: 0.5rem;
}

.transaction-amount {
  display: flex;
  align-items: center;
}
