.open-bank-account-page {
  width: 95%;
  max-width: 28rem;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.back-btn,
.form-field {
  margin-bottom: 1.5rem;
}

.gender-dob {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dob {
  width: 60%;
  max-width: 15rem;
}
